@{
	ViewData["Title"] = "Perfil";
}
<h1>@ViewData["Title"]</h1>

<p>Sobre o aluno.</p>
<img src="~/img/img01.jpg" height="180px" />

<h2>Kaique Spilari</h2>
<p>Sou o Kaique Spilari, estudante do curso técnico em Desenvolvimento de Sistemas no SENAI. Tenho paixão por tecnologia e criatividade, sempre buscando unir lógica e inovação nos meus projetos. Sou determinado, curioso e gosto de aprender de forma prática, explorando novas ideias e ferramentas. Valorizo o trabalho em equipe e acredito que a tecnologia pode transformar realidades, e é nisso que quero fazer a diferença. </p>
<div>
	<i class="bi bi-github"></i>
	<a href="https://github.com/KaiqueSpilari">Github</a>
</div>
<div>
	<i class="bi bi-whatsapp"></i>
	<a href="https://web.whatsapp.com/">Whatsapp</a>
</div>

<div>
	<i class="bi bi-instagram"></i>
	<a href="https://www.instagram.com/kaiquespilari?igsh=MTRlMGg0OGpvOTljc">Instagram</a>
</div>

<div>
	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
			<div class="carousel-item active">

				<img src="~/img/img01.jpg" class="d-block w-50" alt="...">

			</div>
			<div class="carousel-item">

				<img src="~/img/img02.jpg" class="d-block w-50" alt="...">
			</div>
			<div class="carousel-item">

				<img src="~/img/img03.jpg" class="d-block w-50" alt="20px">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


</div>
